# Accessing 3D Thermistor Array via OOI RESTful API
Here the basic instructions to get started using the OOI M2M Web Services to request TMPSF (3D Thermistor Array) data

## Getting Started
* Create a user account on ooinet.oceanobservatories.org
* Log in
* Navigate to the drop down menu screen in the top-right corner menu
* Click on the "User Profile" element of the drop down.
* Copy and save the following data from the user profile: API Username and API Token. The API Username is similar to “OOIAPI-QTULEV9STCAS55”. The API Token is similar to “YXP2Q2W4SOP”.

In [1]:
USERNAME ='YOUR API KEY'
TOKEN= 'YOUR API TOKEN'

In this example we will request information and data from the Cabled Axial Seamount ASHES Vent Field (RS03ASHS) - Medium-Power JBox (MJ03B) - Diffuse Vent Fluid 3-D Temperature Array (07-TMPSFA301) sensor.

Reference Designator: RS03ASHS-MJ03B-07-TMPSFA301

In [2]:
import requests
import json
import datetime

Make the M2M request for 1000 data points between 2017-07-04T17:54:58.050Z and 2017-07-04T23:54:58.050Z

In [3]:
response = requests.get('https://ooinet.oceanobservatories.org/api/m2m/12576/sensor/inv/RS03ASHS/MJ03B/07-TMPSFA301/streamed/tmpsf_sample?beginDT=2017-07-04T17:54:58.050Z&endDT=2017-07-04T23:54:58.050Z&limit=1000', auth=(USERNAME, TOKEN))
data = response.json()

Prepare function to convert ntp time.

In [4]:
ntp_epoch = datetime.datetime(1900, 1, 1)
unix_epoch = datetime.datetime(1970, 1, 1)
ntp_delta = (unix_epoch - ntp_epoch).total_seconds()

def ntp_seconds_to_datetime(ntp_seconds):
    return datetime.datetime.utcfromtimestamp(ntp_seconds - ntp_delta).replace(microsecond=0)

Print the time stamp from the first data point received.

In [5]:
print ntp_seconds_to_datetime(data[0]['time'])

2017-07-04 17:55:02

Print the corresponding 24 temperature values in degree C.

In [6]:
for key, value in data[0].items():
    if len(key) == 13 and key.startswith("t"):
        print key, value

temperature23 2.44449996948
temperature22 2.43079996109
temperature03 7.15049982071
temperature02 58.0060005188
temperature01 4.75339984894
temperature07 5.55289983749
temperature06 110.878501892
temperature05 2.9047999382
temperature04 2.65739989281
temperature09 2.64849996567
temperature08 3.28460001945
temperature24 3.24650001526
temperature14 2.99029994011
temperature17 6.65649986267
temperature18 2.4525001049
temperature19 2.52509999275
temperature15 3.16420006752
temperature16 4.5173997879
temperature10 2.75959992409
temperature11 2.61509990692
temperature12 4.3357000351
temperature13 3.78909993172
temperature21 3.28090000153
temperature20 2.49819993973